@model IEnumerable<FitnessApplication.Models.Booking>

@{
    ViewData["Title"] = "Bookings";
}

<style>
    body {
        background-image: url('/images/gymbg.jpg');
        background-size: cover;
        background-position: center;
    }


    .card {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 15px;
        margin-bottom: 15px;
        background-color: rgba(255, 255, 255, 0.8);
        width: calc(50% - 15px); 
        box-sizing: border-box;
        float: left;
    }

    .card-title {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .card-text {
        margin-bottom: 10px;
    }

    .card-button {
        display: flex;
        justify-content: flex-end;
    }

    .btn-danger {
        background-color: #dc3545;
        color: #fff;
    }
</style>

<h1 class="text-light">Manage Bookings</h1>

<div class="card-container">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.TimeStamp)</h5>
                <p class="card-text">
                    <strong>Name:</strong> @Html.DisplayFor(modelItem => item.Attendee.Email) <br />
                    <strong>Name of Class:</strong> @Html.DisplayFor(modelItem => item.Class.Name) <br />
                    <strong>Status:</strong> @Html.DisplayFor(modelItem => item.Status)
                </p>
                <div class="card-button">
                    <button onclick="confirmDelete('@Url.Action("Delete", new { id = @item.Id })')" class="btn btn-danger">Cancel Booking</button>
                </div>
            </div>
        </div>
    }
</div>

<script>
    function confirmDelete(deleteUrl) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You will not be able to recover this booking!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, cancel it!',
            cancelButtonText: 'No, keep it'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = deleteUrl;
            }
        })
    }
</script>
