@model IEnumerable<FitnessApplication.Models.Booking>

@{
    ViewData["Title"] = "Index";
}



<h1>Book A Class</h1>

<table class="table">
    <tbody>
@foreach (var item in Model) {



            <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.TimeStamp)</h5>
                <p class="card-text">
                    <strong>Name:</strong> @Html.DisplayFor(modelItem => item.Attendee.Email) <br />
                    <strong>Name of Class:</strong> @Html.DisplayFor(modelItem => item.Class.Name) <br />
                    <strong>Status:</strong> @Html.DisplayFor(modelItem => item.Status)
                </p>          
                <div class="d-flex">
                <button onclick="confirmDelete('@Url.Action("Delete", new { id = @item.Id })')" class="btn-danger btn">Cancel Booking</button>
                </div>
            </div>
        </div>
}
    </tbody>
</table>

<script>
    function confirmDelete(deleteUrl) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You will not be able to recover this booking!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, keep it'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = deleteUrl;
            }
        })
    }
</script>
