@model IEnumerable<FitnessApplication.Models.Room>

@{
    ViewData["Title"] = "Room Manager";
}

<div class="text-center">
    <h1>Room Manager</h1>

    <p>
        <a asp-action="Create" class="mt-2 btn btn-info">Create New</a>
    </p>

    <div class="d-flex flex-wrap justify-content-center">
        @foreach (var room in Model)
        {
            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@room.Name</h5>
                    <p class="card-text">@room.Description</p>
                    <p class="card-text">Capacity: @room.Capacity</p>
                    <div class="d-flex justify-content-center">
                        <a asp-action="Edit" asp-route-id="@room.Id" class="btn btn-primary mx-1">Edit</a>
                        <a asp-action="Details" asp-route-id="@room.Id" class="btn btn-secondary mx-1">Details</a>
                        <a asp-action="Delete" asp-route-id="@room.Id" class="btn btn-danger mx-1">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
